<div class="container mt-5">

  <div class="row justify-content-center">
      <div class="col-md-6">

          <div class="d-flex mb-4 justify-content-between">
              <h3>
                Todo list
                <span class="badge badge-warning">{{ todoTask(tasks).length }}</span>
              </h3>
          </div>

          <div class="input-group mb-2">
              <input type="text" [(ngModel)]="newTask" (keyup.enter)="add()"  class="form-control">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="add()" >
                  Add
                </button>
              </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let task of todoTask(tasks); let i=index" >
              <input type="checkbox" (change)="done(task._id)">
              {{ task.text }}
              <i class="fa fa-trash-alt text-danger float-right pointer"
              (click)="destroy(task._id)"
              ></i>
            </li>
            <li class="list-group-item" *ngFor="let task of doneTask(tasks); let i=index" >
              <input type="checkbox" (change)="undo(task._id)" checked>
              <s class="text-muted">{{ task.text }}</s>
              <i class="fa fa-trash-alt text-danger float-right pointer"
              (click)="destroy(task._id)"
              ></i>
            </li>
          </ul> <!-- list-=group -->

        </div>
  </div>

</div>
